

.bar {
    height: 200px;
    width: 50%;
    border: 5px solid black;
    border-radius: 2px;
    display: inline-block;
    box-sizing: border-box;
    color: white;
    transition: 1s;
}
.bar1 {
    background-color: red;
}
.bar2 {
    background-color: blue;
}
#visual_result {
    margin-top: 15px;
}